<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: indexHead('Logix Praias')}"></head>
<body>

<div th:replace="~{fragments :: navbar(' Logix Praias')}"></div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2> <i class="fa fa-info-circle"></i> Informações adicionais</h2>

            <p> O sistema Logix Praias surgiu para suprir uma demanda logística do Corpo de Bombeiros Militar de Santa Catarina (CBMSC),
                mais especificamente do Grupamento de Busca e Salvamento (GBS). Este, é responsável pelo gerenciamento das praias
                de Florianópolis durante todo o ano, tanto em questões de resgate, abastecimento de materiais, etc.</p>
            <p> A proposta do projeto é fornecer um controle logístico eficaz, transparente e disponível aos envolvidos na Operação Veraneio na região da ilha de
                Santa Catarina.
            </p>
            <p>Dito isso, a solução proposta inclui:</p>
            <ul>
                <li> Cadastro de materiais por categoria (APH, Limpeza...)</li>
                <li> Registro de recebimento e retirada do estoque</li>
                <li> Notificação por retirada e/ou recebimento de materiais</li>
                <li> Relatórios de estoque</li>
            </ul>
        </div>
        <div class="col-md-6">
            <br>
            <p> Para o desenvolvimento, foi utilizado a linguagem de programação Java e o ecossistema spring para o backend,
             enquanto o frontend foi construído com Javascript, HTML, CSS e Bootstrap.</p>
            <p> Pensando em melhorias para a aplicação, visando a escalabilidade, disponibilidade e segurança,
                os próximos passos a serem tomados incluem:</p>
            <ul>
                <li> Desacoplar as stacks (dividir backend e frontend)</li>
                <li> Implementar autenticação de acesso por usuário</li>
                <li> Utilização de frameworks escaláveis no frontend (React, Vue)</li>
                <li> Integração com sistemas do CBMSC</li>
            </ul>
            <p> É importante ressaltar que esse projeto foi desenvolvido por livre e espontânea vontade e sem custos à corporação.</p>
            <p> O código fonte e documentação do projeto pode ser consultado no <a href="https://github.com/vinicarpes/logix-praias">repositório do github</a>.</p>
        </div>
    </div>
</div>

<footer>
    <div class="option">
        <a href="/index" class="option">
            <i class="fa-home fa-solid"></i>
            Início
        </a>
    </div>
    <div class="option">
        <a href="/index/about" class="option">
            <i class="fa fa-info-circle"></i>
            Sobre
        </a>
    </div>

    <div class="option">
        <a href="/{username}" class="option">
            <i class="fa fa-user"></i>
            Minha Conta
        </a>
    </div>
</footer>
<!-- Offcanvas Menu -->
<div th:replace="~{fragments :: menu}"></div>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"
></script>
</body>
</html>