<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Recebimento de Materiais</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>
<body>
<!-- Navbar centralizada -->
<div th:replace="~{fragments :: navbar(' Recebimento de Material')}"></div>


<div class="container">
    <!-- Card para destacar o formulário -->
    <div class="card mx-auto">
        <div class="card-body">
            <form class="col-12" id="form-recebimento" method="post" th:action="@{/material/receipt}" th:object="${materialReceipt}">
                <fieldset class="border rounded p-4 mb-4">
                    <legend class="w-auto px-2 text-center">Preencha os dados do formulário</legend>

                    <div class="mb-3">
                        <label for="material-type" class="form-label">Categoria de Material</label>
                        <select name="material-type" id="material-type" class="form-select" required>
                            <option value="" selected disabled>Selecione uma categoria</option>
                            <option th:each="categoria : ${categorias}" th:value="${categoria.getId()}" th:text="${categoria}">Selecione um tipo</option>
                            <!-- opções populadas dinamicamente -->
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="material" class="form-label">Material Recebido</label>
                        <select name="material" id="material" class="form-select" th:field="*{material}" required>
                            <option value="" selected disabled>Selecione um material</option>
                            <option th:each="material : ${materiais}" th:value="${material.getId()}" th:text="${material}">Selecione um material</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="resp-withdrawal" class="form-label">Responsável da Retirada</label>
                        <select th:field="*{usuario}" name="resp-withdrawal" id="resp-withdrawal" class="form-select" required>
                            <option value="" selected disabled>Selecione um material</option>
                            <option th:each="usuario : ${usuarios}" th:value="${usuario.getId()}" th:text="${usuario}">Selecione um material</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="receipt-date" class="form-label">Data de Recebimento</label>
                        <input type="date" name="receipt-date" id="receipt-date" class="form-control" required>
                    </div>

<!--                    <p class="d-inline-flex gap-1">-->
<!--                        <a class="btn btn-secondary" data-bs-toggle="collapse" href="#dueCollapse" role="button" aria-expanded="false" aria-controls="dueCollapse">-->
<!--                            Inserir validade-->
<!--                        </a>-->
<!--                    </p>-->
<!--                    <div class="collapse" id="dueCollapse">-->
<!--                    <div class="mb-3">-->
<!--                        <label for="due-date" class="form-label">Data de Validade</label>-->
<!--                        <input type="date" name="due-date" id="due-date" class="form-control">-->
<!--                    </div>-->
<!--                    </div>-->

                    <div class="mb-3">
                        <label for="supplier" class="form-label">Fornecedor</label>
                        <input th:field="*{fornecedor}" type="text" name="supplier" id="supplier" class="form-control" placeholder="Insira o forncedor">
                    </div>

                    <div class="mb-3">
                        <label for="quantity" class="form-label">Quantidade</label>
                        <input th:field="*{quantidade}" type="number" min="0" step="1" name="quantity" id="quantity" class="form-control" placeholder="Insira a quantidade">
                    </div>

                    <div class="mb-4">
                        <label for="description" class="form-label">Descrição</label>
                        <textarea th:field="*{descricao}" name="description" id="description" class="form-control" rows="3" placeholder="Descreva o material"></textarea>
                    </div>
                <div class="d-flex justify-content-end">
                    <button type="reset" class="btn btn-secondary me-2">
                        <i class="bi bi-x-circle"></i> Cancelar
                    </button>
                    <button type="submit" class="btn btn-primary">
                        <i class="bi bi-save"></i> Cadastrar
                    </button>
                </div>
                </fieldset>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col-1">ID</th>
                        <th scope="col-2">Material</th>
                        <th scope="col-2">Responsável</th>
                        <th scope="col-2">Data</th>
                        <th scope="col-2">Fornecedor</th>
                        <th scope="col-1">Quantidade</th>
                        <th scope="col-2">Descrição</th>
                        <th scope="col-1">Editar</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="rec : ${recebimentos}">
                        <td class="col-1 border" th:text="${rec.id}">ID</td>
                        <td class="col-2 border" th:text="${rec.material}">Material</td>
                        <td class="col-2 border" th:text="${rec.usuario}">Responsável</td>
                        <td class="col-2 border" th:text="${rec.dataRecebimento}">Data</td>
                        <td class="col-2 border" th:text="${rec.fornecedor}">Fornecedor</td>
                        <td class="col-1 border" th:text="${rec.quantidade}">Quantidade</td>
                        <td class="col-2 border" th:text="${rec.descricao}">Descrição</td>
                        <td class="col-1 border">
                            <a href="#" class="btn btn-primary btn-sm" th:attr="data-id=${rec.id}" onclick="editarRecebimento(this); return false;">Editar</a>
                        </td>
<!--                        <td class="col-1 border"><a href="#" class="btn btn-danger btn-sm" th:attr="data-id=${rec.id}">-->
<!--                            Excluir-->
<!--                        </a></td>-->
                    </tr>
                    </tbody>
                </table>
                <div class="d-flex justify-content-center mt-3">
                    <nav>
                        <th:block th:with="totalPagesSafe=${totalPages > 0 ? totalPages : 1}">
                            <ul class="pagination">

                                <li class="page-item" th:if="${currentPage > 1}">
                                    <a class="page-link"
                                       th:href="@{/material/receipt(page=${currentPage - 1})}">
                                        Anterior
                                    </a>
                                </li>


                                <li class="page-item"
                                    th:each="i : ${#numbers.sequence(1, totalPagesSafe)}"
                                    th:classappend="${i} == ${currentPage} ? 'active'">
                                    <a class="page-link"
                                       th:href="@{/material/receipt(page=${i})}"
                                       th:text="${i}">1</a>
                                </li>


                                <li class="page-item" th:if="${currentPage < totalPagesSafe}">
                                    <a class="page-link"
                                       th:href="@{/material/receipt(page=${currentPage + 1})}">
                                        Próximo
                                    </a>
                                </li>

                            </ul>
                        </th:block>
                    </nav>

                </div>

                <!-- Botões alinhados à direita -->
            </form>
        </div>
    </div>
</div>
<!-- Offcanvas Menu -->
<div th:replace="~{fragments :: menu}"></div>


<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"
></script>
<script src="/js/crud-recebimentos.js"></script>
</body>
</html>
