<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
        <title>Cadastro de Categoria</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<!-- Navbar centralizada -->
<div th:replace="~{fragments :: navbar(' Categoria de Material')}"></div>

<div class="container">
    <!-- Card para destacar o formulário -->
    <div class="card mx-auto" style="max-width: 600px;">
        <div class="card-body">
            <form id="form-categoria" method="post" th:action="@{/material/type/register}" th:object="${categoria}">

            <fieldset class="border rounded p-4 mb-4">
                    <legend class="w-auto px-2 text-center"> Preencha os dados do formulário</legend>

                    <div class="mb-3">
                        <label for="nome" class="form-label">Categoria de Material</label>
                        <input class="form-control" type="text" th:field="*{nome}" id="nome" placeholder="Insira o tipo de material" required>
                    </div>

                    <div class="mb-4">
                        <label for="descricao" class="form-label">Descrição</label>
                        <textarea th:field="*{descricao}" name="descricao" id="descricao" class="form-control" rows="3" placeholder="Descreva o tipo de material"></textarea>
                    </div>
                <div class="d-flex justify-content-end">
                    <button type="reset" class="btn btn-secondary me-2">
                        <i class="bi bi-x-circle"></i> Cancelar
                    </button>
                    <button type="submit" class="btn btn-primary">
                        <i class="bi bi-save"></i> Cadastrar
                    </button>
                </div>
                </fieldset>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col-2">ID</th>
                        <th scope="col-3">Categoria</th>
                        <th scope="col-4">Descrição</th>
                        <th scope="col-1">Editar</th>
                        <th scope="col-1">Excluir</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="cat : ${categorias}">
                        <td class="col-2 border" th:text="${cat.id}">ID</td>
                        <td class="col-3 border" th:text="${cat.nome}">Categoria</td>
                        <td class="col-4 border" th:text="${cat.descricao}">Descrição</td>
                        <td class="col-1 border">
                            <a href="#" class="btn btn-primary btn-sm" th:attr="data-id=${cat.id}" onclick="editarCategoria(this); return false;">Editar</a>
                        </td>
                        <td class="col-1 border"><a href="#" class="btn btn-danger btn-sm" th:attr="data-id=${cat.id}">
                            Excluir
                        </a></td>
                    </tr>
                    </tbody>
                </table>

                <div class="d-flex justify-content-center mt-3">
                    <nav>
                        <th:block th:with="totalPagesSafe=${totalPages > 0 ? totalPages : 1}">
                            <ul class="pagination">

                                <!-- Botão "Anterior" -->
                                <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
                                    <a class="page-link"
                                       th:href="@{/material/type/register(page=${currentPage - 1})}">
                                        Anterior
                                    </a>
                                </li>

                                <!-- Botões de página -->
                                <li class="page-item"
                                    th:each="i : ${#numbers.sequence(1, totalPagesSafe)}"
                                    th:classappend="${i == currentPage} ? ' active'">
                                    <a class="page-link"
                                       th:href="@{/material/type/register(page=${i})}"
                                       th:text="${i}">1</a>
                                </li>

                                <!-- Botão "Próximo" -->
                                <li class="page-item" th:classappend="${currentPage == totalPagesSafe} ? 'disabled'">
                                    <a class="page-link"
                                       th:href="@{/material/type/register(page=${currentPage + 1})}">
                                        Próximo
                                    </a>
                                </li>

                            </ul>
                        </th:block>
                    </nav>
                </div>
                <!-- Botões alinhados à direita -->
            </form>
        </div>
    </div>
</div>
<!-- Offcanvas Menu -->
<div th:replace="~{fragments :: menu}"></div>


<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"
></script>
<script src="/js/crud-categorias.js"></script>
</body>
</html>
