<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Materiais</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>
<body>
<!-- Navbar centralizada -->
<div th:replace="~{fragments :: navbar(' Cadastro de Material')}"></div>

<div class="container">
    <!-- Card para destacar o formulário -->
    <div class="card mx-auto" style="max-width: 600px;">
        <div class="card-body">
            <form method="get">
                <fieldset class="border rounded p-4 mb-4">
                    <legend class="w-auto px-2 text-center"> Preencha os dados do formulário</legend>

                    <div class="mb-3">
                        <label for="material-type" class="form-label">Categoria de Material</label>
                        <select name="material-type" id="material-type" class="form-select" th:field="*{categorias}">
                            <option value="" selected>Selecione um tipo</option>
                            <option th:each="categoria : ${categorias}" th:value="${categoria}" th:text="${categoria}"></option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="material" class="form-label">Material</label>
                        <input type="text" name="material" id="material" class="form-control" placeholder="Digite o nome do material">
                    </div>


                    <div class="mb-4">
                        <label for="description" class="form-label">Descrição</label>
                        <textarea name="description" id="description" class="form-control" rows="3" placeholder="Descreva o material"></textarea>
                    </div>
                </fieldset>

                <!-- Botões alinhados à direita -->
                <div class="d-flex justify-content-end">
                    <button type="reset" class="btn btn-secondary me-2">
                        <i class="bi bi-x-circle"></i> Cancelar
                    </button>
                    <button type="submit" class="btn btn-primary">
                        <i class="bi bi-save"></i> Cadastrar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Offcanvas Menu -->
<div th:replace="~{fragments :: menu}"></div>


<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"
></script>
</body>
</html>
