<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Consulta de Estoque</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>
<body>
<!-- Navbar centralizada -->
<div th:replace="~{fragments :: navbar(' Consulta de Estoque')}"></div>

<main>
    <div class="mt-4 container">
        <div class="card mx-auto" >
            <div class="card-body">
                <form class="col-12" id="form-storages" method="GET" th:action="@{/storage/get}" th:object="${estoques}">
                    <fieldset class="border rounded p-4 mb-4">
                        <legend class="w-auto px-2 text-center"> Preencha os dados do formulário</legend>

                        <div class="mb-3">
                            <label for="categoria" class="form-label">Categoria de Material</label>
                            <select class="form-select" type="text" name="categoria" id="categoria" onchange="loadMaterialsByCategory()">
                                <option selected disabled value="">Selecione o tipo de material</option>
<!--                                <option th:each="categoria : ${categorias}" th:value="${categoria.getId()}" th:text="${categoria}"></option>-->
                                <option th:each="categoria : ${categorias}"
                                        th:value="${categoria.getId()}"
                                        th:selected="${filtroCategoria == categoria.getId()}"
                                        th:text="${categoria}">
                                </option>

                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="material" class="form-label">Material</label>
                            <select class="form-select" type="text" name="material" id="material">
                                <option selected disabled value="">Selecione o material</option>
<!--                                <option th:each="material : ${materiais}" th:value="${material.getId()}" th:text="${material}"></option>-->
                                <option th:each="material : ${materiais}"
                                        th:value="${material.getId()}"
                                        th:selected="${filtroMaterial == material.getId()}"
                                        th:text="${material}">
                                </option>

                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="quantity" class="form-label">Quantidade </label>
                            <input type="radio" name="quantity-param" value="menor" th:checked="${filtroOp == 'menor'}"> Menor
                            <input type="radio" name="quantity-param" value="maior" th:checked="${filtroOp == 'maior'}"> Maior
                            <input type="radio" name="quantity-param" value="igual" th:checked="${filtroOp == 'igual'}"> Exata
                            <input type="number" class="form-control" placeholder="Quantidade" name="quantity" id="quantity"
                                   th:value="${filtroQuantity}">
                        </div>
                    </fieldset>
                    <!-- Botões alinhados à direita -->
                    <div class="d-flex justify-content-end">
                        <button type="reset" class="btn btn-secondary me-2">
                            <i class="bi bi-x-circle"></i> Limpar
                        </button>
                        <button type="submit" class="btn btn-primary">
                            <i class="bi bi-search"></i> Buscar
                        </button>
                    </div>
                </form>
                <hr>

                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col-1">ID</th>
                        <th scope="col-3">Tipo de Material</th>
                        <th scope="col-4">Material</th>
                        <th scope="col-1">Quantidade</th>
                        <th scope="col">Detalhes</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="es : ${estoques}">
                        <td class="col-1 border" th:text="*{es.getId()}">ID</td>
                        <td class="col-3 border" th:text="*{es.getMaterial().getCategoria()}" >Categoria de Material</td>
                        <td class="col-4 border" th:text="*{es.getMaterial()}" >Material</td>
                        <td class="col-1 border" th:text="*{es.getQuantidade()}"  >Quantidade</td>
                        <td class="col-1 border"><a>Registros</a></td>
                    </tr>
                    </tbody>
                </table>
                <div class="d-flex justify-content-center mt-3">
                    <nav>
                        <ul class="pagination">
                            <li class="page-item" th:if="${currentPage > 0}">
                                <a class="page-link"
                                   th:href="@{/storage/get(page=${currentPage - 1}, material=${filtroMaterial}, categoria=${filtroCategoria}, quantity=${filtroQuantity}, 'quantity-param'=${filtroOp})}">
                                    Anterior
                                </a>
                            </li>

                            <li class="page-item" th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
                                th:classappend="${i} == ${currentPage} ? 'active'">
                                <a class="page-link"
                                   th:href="@{/storage/get(page=${i}, material=${filtroMaterial}, categoria=${filtroCategoria}, quantity=${filtroQuantity}, 'quantity-param'=${filtroOp})}"
                                   th:text="${i + 1}">1</a>
                            </li>

                            <li class="page-item" th:if="${currentPage < totalPages - 1}">
                                <a class="page-link"
                                   th:href="@{/storage/get(page=${currentPage + 1}, material=${filtroMaterial}, categoria=${filtroCategoria}, quantity=${filtroQuantity}, 'quantity-param'=${filtroOp})}">
                                    Próximo
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>

            </div>
        </div>
    </div>
</main>

<!-- Offcanvas Menu -->

<div th:replace="~{fragments :: menu}"></div>


<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"
></script>

<script src="/js/crud-estoques.js"></script>


</body>
</html>