<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Consulta de Estoque</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>
<body>
<!-- Navbar centralizada -->
<div th:replace="~{fragments :: navbar(' Consulta de Estoque')}"></div>

<main>
    <div class="mt-4 container">
        <div class="card mx-auto" >
            <div class="card-body">

                <form method="get">
                    <fieldset class="border rounded p-4 mb-4">
                        <legend class="w-auto px-2 text-center"> Preencha os dados do formulário</legend>

                        <div class="mb-3">
                            <label for="material-type" class="form-label">Categoria de Material</label>
                            <select class="form-select" type="text" name="material" id="material-type">
                                <option selected disabled value="">Selecione o tipo de material</option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="material" class="form-label">Material</label>
                            <select class="form-select" type="text" name="material" id="material">
                                <option selected disabled value="">Selecione o material</option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="quantity" class="form-label">Quantidade </label>
                                <input type="radio" name="quantity-param" id="lower-than"> Menor
                                <input type="radio" name="quantity-param" id="higher-than"> Maior
                                <input type="radio" name="quantity-param" id="equal"> Exata
                            <input type="number" class="form-control" placeholder="Quantidade" name="quantity" id="quantity">
                        </div>
                    </fieldset>
                    <!-- Botões alinhados à direita -->
                    <div class="d-flex justify-content-end">
                        <button type="reset" class="btn btn-secondary me-2">
                            <i class="bi bi-x-circle"></i> Limpar
                        </button>
                        <button type="submit" class="btn btn-primary">
                            <i class="bi bi-search"></i> Buscar
                        </button>
                    </div>
                </form>
                <hr>

                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col-1">ID</th>
                        <th scope="col-3">Tipo de Material</th>
                        <th scope="col-4">Material</th>
                        <th scope="col-1">Quantidade</th>
                        <th scope="col">Detalhes</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="col-1 border" >ID</td>
                        <td class="col-3 border"  >Categoria de Material</td>
                        <td class="col-4 border" >Material</td>
                        <td class="col-1 border"  >Quantidade</td>
                        <td class="col-1 border" ><a>Registros</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

<!-- Offcanvas Menu -->

<div th:replace="~{fragments :: menu}"></div>


<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"
></script>

</body>
</html>